.list {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media screen and (max-width: 950px) {
  .list {
    justify-content: center;
    margin: 1rem;
  }
} 

.list > li {
  flex-basis: 25%;
}
